body{
    font-family: 'Rubik';
    font-style: normal;
}
.header{
    display: flex;

  margin-right: 5px;
	margin: 10px;
	font: 15px Arial;
	text-decoration: none;
	
    font-family: 'Rubik';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 19px;
text-align: center;
margin-left: 5%;

}
.footer{
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    height: 212px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    
}
table{
   
    text-align: left;
    float:right;
    margin-top: -3.5%;
    font-size: 18px;
    line-height: 30px;
    
}
.green{
    color: #147E45;
}
td:first-of-type{
    font-weight: bold;
    padding-right: 40px;
}

a{
    color:black;
    padding: 30px;
    text-decoration: none;
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;


    
}


select{
    background:#147E45;
    box-shadow: 0px 4px 20px;
    border-radius: 4px;
    color:white;
    margin-top: 25px;
    width: 56px;
    height: 29px;
    
}


.con1
{
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
    width: 90%;
    height: 25%;
    
    font-family: "Rubik";
    font-style: normal;
}
.con2
{
    font-family: 'Rubik';
    font-style: normal;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    height: 25%;
    
}
.con3{
    font-family: 'Rubik';
    font-style: normal;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    height: 25%;
    
}

.text{
    font-family: 'Rubik';
    font-style: normal;
    text-align: justify;
    font-size: 17px;
    
}

.i1{
   
    /*height: 300px;*/
    display: flex;
    /*margin-left: 5%;*/
    margin-top: 8%;
    width: 600px;
    }
    .i2{
       
        width: 422;
        float:right;
        margin-top: -23%;
        margin-right: 10%;
    }

.t1{
    font-family: 'Rubik';
    font-style: normal;
    
    width: 475px;
    padding-left: 5%;
    color:#4F5665
    /*height: 514px;*/
    
  
   
    
}
.t2{
    
    
    height: 180px;
    width: 513px;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;

}
#prev{
    background-image: url(Button/Active/Ellipse\ 168.png);
    width: 60px;
    height: 60px;
    border:none;
    border-radius: 60px;
    background-repeat: no-repeat;
    margin-top: 18%;
    margin-right:72px;


}
#next{
    background-image: url(Button/Active/Ellipse\ 168.png);
    width: 60px;
    height: 60px;
    border:none;
    border-radius: 60px;
    background-repeat: no-repeat;
    margin-top: 18%;
    margin-left: 8%;

}
.chain{
    
    width: 334px;
    height: 283px;
    
}

#button{
    background-color: #147E45;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    color: white;
    border:none;
    font-size: 17px;
    box-shadow: 0px 0px 12px gray;

}
#button2{
    background-color: #147E45;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    color: white;
    border:none;
    font-size: 17px;
    box-shadow: 0px 0px 12px gray;
    margin-top: 2%;
}
#button3{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    color: #147E45;
    background: #FFFFFF;
    font-size: 17px;
    border: 2px solid  #147E45;
    margin-top: 15%;
}
#button4{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    color: #147E45;
    background: #FFFFFF;
    font-size: 17px;
    border: 2px solid  #147E45;
    margin-top: 9%;
}
.con4{
    margin-left: 5%;
    margin-top: 40%;
    width: 90%;
    height: 25%;
   
}
.t4{
    font-family: 'Rubik';
    font-style: normal;
/*float: left;*/
width: 410px;

margin-left: 9%;
}
.button5{
    font-family: 'Rubik';
    font-style: normal;
    align-self: center;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    color: #FFFFFF;
    background: #147E45;
    border:none;
    font-size: 17px;
    box-shadow: 0px 0px 12px gray;
    margin-top: -9%;
    margin-right: 20%;
    float:right;
}
ul{
   
    font-size: 17px;
    font-weight: 400;
    
    list-style-type: none; 
    text-align: left;
    width: 320px;
    margin-right: 11%;
}
li{
   
    background: url("main/Vector.png") no-repeat 0% center;
    
    list-style-position: outside;
    width: 100%;
    padding-left: 30px;
    
    line-height: 30.15px;
    
    
}
a:first-of-type{
    color:green;
}
.title {
    font-size: 24px;
    padding-right: 190px;
    
}
b{
    color:black;
}
span{
    color: green;
}
h1{
    font-size: 35px;
    color:#0B132A;
    
    font-style: normal;
    
}
h2{
    font-size:22px;
    font-family: 'Rubik';
    font-style: normal;
    color:#0B132A;
}
.card{
    margin-top: 5%;
    width: 550px;
    height: 284px;
float: left;
font-family: 'Rubik';
    font-style: normal;
}
.c{
    float: right;
}
.card2{
    margin-top: 5%;
    width: 550px;
    font-family: 'Rubik';
    font-style: normal;
    height: 284px;
    float:right;
}
#podpisi{
    margin-top: 13%;
    color:#AFB5C0;
    font-size: 16px;
}
.modal{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    z-index:99998;
    background-color: rgba(0,0,0,.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y:auto ;
    visibility: hidden;
 }
 .modal_box{
     position: relative;
     height: 725px;
     max-width: 360px;
     padding: 45px;
     z-index: 1;
     margin: 30px 15px;
     background-color: white;
     
 }
 .modal.open{
     visibility: visible;
     opacity: 1;
 }
 .tit{
     color: green;
 }
 .star{
     
     color: red;
 }
 
 .button{
     background-color: #147E45;
     width: 300px;
     height: 60px;
     border-radius: 10px;
     color: white;
     border:none;
     font-size: 17px;
     box-shadow: 0px 0px 12px gray;
 
 }
 #checkbox{
     display: none;
 }
 label:before{
     content: "";
     color: #000;
     display: inline-block;
     font:20px/30px Arial;
     margin-right:15px;
     position: relative;
     text-align: center;
     text-indent:0px ;
     width:15px;
     height: 15px;
     background: #fff;
     border: 1px solid #e3e3e3;
     border-image: initial;
     vertical-align: middle;
 }
 input:checked + label:before{
     content: url(pop.png);
 }
 input:disabled + label::before{
     background: #eee;
     color:#aaa;
 }
 .modal_close-btn{
     position:absolute;
     top: 8px;
     right: 8px; 
     border:none;
     background-color:transparent;
     padding: 5px;
 
 }
 .modal_close-btn:hover {
     fill:blue;
 }